/*
功能描述：给侧边栏中的components组件添加彩虹配色
注意事项：个别组件的样式是使用data-component-id定位之后调整的，这里记录一下用到的的组件和它的data-component-id
- 今日卡片："17917a73-cbf2-4882-8254-be320115cc56"
- 日期进度："4afbfb0c-3ef9-4ad1-9410-217c34bbb751"
- 组合统计1："8aee0fcc-de30-4fd2-a6b8-8aa19edeb074"
- 组合统计2："46eb532f-49d8-4ed7-8382-8464684b0c59"
- 首页导航："555c80d8-075f-4ac6-9d2b-549b3607b46e"
- 按钮管理："70ade022-c59f-492c-918e-5e1f61bfe7cc"
*/

/*---------------------------------------------------------------
* 定义颜色变量
*---------------------------------------------------------------*/

.theme-light .home-single-component {
    --custom-color-red: 180, 99, 122;
    --custom-color-maroon: 180, 99, 122;
    --custom-color-peach: 214, 129, 125;
    --custom-color-yellow: 234, 157, 52;
    --custom-color-green: 86, 148, 159;
    --custom-color-teal: 86, 148, 159;
    --custom-color-sky: 40, 105, 131;
    --custom-color-sapphire: 40, 105, 131;
    --custom-color-blue: 40, 105, 131;
    --custom-color-lavender: 144, 122, 169;
    --custom-color-mauve: 144, 122, 169;
}

.theme-dark .home-single-component {
    --custom-color-red: 231, 130, 132;
    --custom-color-maroon: 234, 153, 156;
    --custom-color-peach: 239, 159, 118;
    --custom-color-yellow: 229, 200, 144;
    --custom-color-green: 166, 209, 137;
    --custom-color-teal: 129, 200, 190;
    --custom-color-sky: 153, 209, 219;
    --custom-color-sapphire: 133, 193, 220;
    --custom-color-blue: 140, 170, 238;
    --custom-color-lavender: 186, 187, 241;
    --custom-color-mauve: 202, 158, 230;
}

/*---------------------------------------------------------------
* 定义彩虹色变量
*---------------------------------------------------------------*/
.home-single-component .components--Component[data-component-id="8aee0fcc-de30-4fd2-a6b8-8aa19edeb074"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+1),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+3) {
    --rainbow-color: var(--custom-color-red);
}

.home-single-component .components--Component[data-component-id="8aee0fcc-de30-4fd2-a6b8-8aa19edeb074"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+2),
.home-single-component .components--Component[data-component-id="4afbfb0c-3ef9-4ad1-9410-217c34bbb751"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+1),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+4) {
    --rainbow-color: var(--custom-color-maroon);
}

.home-single-component .components--Component[data-component-id="8aee0fcc-de30-4fd2-a6b8-8aa19edeb074"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+3),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+5) {
    --rainbow-color: var(--custom-color-peach);
}

.home-single-component .components--Component[data-component-id="8aee0fcc-de30-4fd2-a6b8-8aa19edeb074"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+4),
.home-single-component .components--Component[data-component-id="4afbfb0c-3ef9-4ad1-9410-217c34bbb751"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+2),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+6) {
    --rainbow-color: var(--custom-color-yellow);
}

.home-single-component .components--Component[data-component-id="8aee0fcc-de30-4fd2-a6b8-8aa19edeb074"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+5),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+7) {
    --rainbow-color: var(--custom-color-green);
}

.home-single-component .components--Component[data-component-id="4afbfb0c-3ef9-4ad1-9410-217c34bbb751"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+3),
.home-single-component .components--Component[data-component-id="46eb532f-49d8-4ed7-8382-8464684b0c59"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+1),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+8) {
    --rainbow-color: var(--custom-color-teal);
}

.home-single-component .components--Component[data-component-id="46eb532f-49d8-4ed7-8382-8464684b0c59"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+2),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+9) {
    --rainbow-color: var(--custom-color-sky);
}


.home-single-component .components--Component[data-component-id="4afbfb0c-3ef9-4ad1-9410-217c34bbb751"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+4),
.home-single-component .components--Component[data-component-id="46eb532f-49d8-4ed7-8382-8464684b0c59"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+3),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+10) {
    --rainbow-color: var(--custom-color-sapphire);
}

.home-single-component .components--Component[data-component-id="46eb532f-49d8-4ed7-8382-8464684b0c59"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+4),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+11) {
    --rainbow-color: var(--custom-color-blue);
}

.home-single-component .components--Component[data-component-id="4afbfb0c-3ef9-4ad1-9410-217c34bbb751"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+5),
.home-single-component .components--Component[data-component-id="46eb532f-49d8-4ed7-8382-8464684b0c59"] > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+5),

.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+1) {
    --rainbow-color: var(--custom-color-lavender);
}

.home-single-component .components--Component[data-component-id="17917a73-cbf2-4882-8254-be320115cc56"] > div.components--ComponentEl:nth-child(1),
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div:nth-child(11n+2) {
    --rainbow-color: var(--custom-color-mauve);
}

/*---------------------------------------------------------------
* 给组件添加彩虹边框
*---------------------------------------------------------------*/
.home-single-component .components--Component .components--component-card,
.home-single-component .components--Component .components--component-markdown,
.home-single-component .components--Component .components--component-dataview,
.home-single-component .components--Component .components--component-dateProgress,
.home-single-component .components--Component .components--component-countdown,
.home-single-component .components--Component .components--component-count,
.home-single-component .components--Component .components--component-dailyCheck,
.home-single-component .components--Component .components--component-chart,
.home-single-component .components--Component .components--TabGroup {
    color: rgba(var(--rainbow-color), 1);
    border: 1px solid rgba(var(--rainbow-color), 1);
    border-radius: 16px;
}

/*内嵌的dataview和markdown边框*/
.home-single-component .components--Component .components--TabGroup .components--component-markdown,
.home-single-component .components--Component .components--TabGroup .components--component-dataview {
    border: 1px solid rgba(var(--rainbow-color), 0.35);
}

/*输入框下边框*/
.home-single-component .components--Component input.components--input:not([type="checkbox"]) {
    border-bottom: 1px solid rgba(var(--rainbow-color), 0.6);
}

/*去除markdown组件中的外边距*/
.home-single-component .components--Component .components--component-markdown p {
    margin: unset;
}

/*输入框下边框*/
.home-single-component .components--Component input.components--input:not([type="checkbox"]) {
    border-bottom: 1px solid rgba(var(--rainbow-color), 0.6);
}

/*标签的下边框、标签栏的下边框*/
.home-single-component .components--Component .components--Tab[data-headlessui-state=selected],
.home-single-component .components--Component .components--TabList {
    border-bottom: 1px solid rgba(var(--rainbow-color), 0.2);
}

/*表头、表头的下边框*/
.home-single-component .components--Component .table-view-table > thead > tr > th,
.home-single-component .components--Component .dataview.small-text {
    color: rgba(var(--rainbow-color), 1);
    border-bottom-color: rgba(var(--rainbow-color), 0.25);
}

/*---------------------------------------------------------------
* 主页通用样式调整
*---------------------------------------------------------------*/
/*隐藏页内标题和文档属性*/
.home-single-component .mod-header {
    display: none !important;
}

/*隐藏任意级别标题*/
.home-single-component h1,
.home-single-component h2,
.home-single-component h3,
.home-single-component h4,
.home-single-component h5,
.home-single-component h6 {
    display: none;
}

/*调整主页组件之间的间隔*/
.home-single-component span.internal-embed.components--embed-view.is-loaded > div > div > div.components--ComponentEl.components--component-multi > div > div {
    margin-bottom: 16px;
}

/*---------------------------------------------------------------
* 主页常用组件样式细节调整
*---------------------------------------------------------------*/
/*今日日历 ，加边框*/
.home-single-component svg.calendar {
    border: 1px solid rgba(var(--rainbow-color), 1);
    border-radius: 16px;
    padding: 4px;
    font-weight: bolder;
}

/*今日日历，去除边框和最小高度限制*/
.home-single-component .components--Component[data-component-id="d3f481d4-8320-47ec-bd9f-ec048fb179fc"] > .components--ComponentEl.components--ComponentEl_border.components--component-markdown,
.home-single-component .components--Component[data-component-id="d3f481d4-8320-47ec-bd9f-ec048fb179fc"] .components--ComponentEl.components--ComponentEl_border.components--component-markdown div {
    border: unset;
    min-height: unset;
}

/*今日天气，内容居中*/
.home-single-component .components--Component[data-component-id="a096a30b-2585-4897-81b1-121d9e9b81b0"] div.components--ComponentContentEl div.svg-contain,
.home-single-component .components--Component[data-component-id="a096a30b-2585-4897-81b1-121d9e9b81b0"] div.components--ComponentContentEl,
.home-single-component .components--Component[data-component-id="a096a30b-2585-4897-81b1-121d9e9b81b0"] div.components--ComponentContentEl .components--MarkdownComponentContent {
    display: flex;
    justify-content: center;
}

/*日期进度，图形颜色调整*/
.home-single-component .components--Component div.components--progress-ring > svg circle {
    stroke: rgba(var(--rainbow-color), 0.8);
}

/*每日打卡，边框颜色调整*/
.home-single-component .components--Component .components--DailyCheckComponentItem {
    border: 1px solid rgba(var(--rainbow-color), 0.4);
    border-radius: 16px;
}

.home-single-component .components--Component .components--DailyCheckComponentItem:hover {
    border: 1px solid rgba(var(--rainbow-color), 0.8);
}

/*组合组件自定义标题*/
.home-single-component .components--Component .components--TabGroup::before {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    padding: 8px 0 16px 0;
}

.home-single-component .components--Component[data-component-id="b8aeea05-5144-495b-8034-1992b424b798"] .components--TabGroup::before {
    content: "最近文件";
}

.home-single-component .components--Component[data-component-id="b749c4bb-635e-48b3-8602-e0270a11c3a5"] .components--TabGroup::before {
    content: "资源管理";
}

.home-single-component .components--Component[data-component-id="70ade022-c59f-492c-918e-5e1f61bfe7cc"] .components--TabGroup::before {
    content: "按钮管理";
}

/*所有标题加粗显示（包括自定义的组合组件标题）*/
.home-single-component .components--Component .components--component-title,
.home-single-component .components--Component .components--TabGroup::before {
    font-weight: bolder;
}

/*按钮和选项，样式调整*/
.home-single-component .components--Component .components--autocomplete-label,
.home-single-component .components--Component .contribution-select,
.home-single-component .components--Component .common-button {
    line-height: unset;
    color: var(--text-muted);
    background: var(--background-primary);
    border: 1px solid rgba(var(--rainbow-color), 0.7);
    border-radius: 10px;
}

.home-single-component .components--Component .components--autocomplete-label:hover,
.home-single-component .components--Component .contribution-select:hover,
.home-single-component .components--Component .common-button:hover {
    border: 1px solid rgba(var(--rainbow-color), 1);
}

/*按钮居中*/
.home-single-component .components--component-button .components--ComponentContentEl.components--flex-row {
    justify-content: center;
}

/*筛选条件和标签栏居中*/
.home-single-component .components--Component .components--DataviewComponentParams,
.home-single-component .components--Component .components--TabList {
    justify-content: center;
}

/*---------------------------------------------------------------
* 主页首页导航组件样式调整
*---------------------------------------------------------------*/
.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] .components--MarkdownComponentContent > ul {
    display: flex;
    padding: 12px 8px 8px 8px;
    margin: 4px;
    text-align: center;
}

/*隐藏列表缩进向导*/
.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] .components--MarkdownComponentContent ul::before {
    content: unset;
}

.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] .components--MarkdownComponentContent ul > li {
    text-align: center;
    flex: 1 1 20%;
    margin: 2px 0;
    /*隐藏列表项目符号*/
    list-style-type: none;
}

.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] .components--MarkdownComponentContent > ul > li {
    margin: 0 8px;
    padding: 8px 16px;
    border: 1px solid rgba(var(--rainbow-color), 0.4);
    border-radius: 16px;
}

.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] .components--MarkdownComponentContent > ul ul {
    padding: 8px;
    flex-direction: column;
    border: none;
}

.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] .components--MarkdownComponentContent > ul ul li a {
    background-image: none;
    text-decoration: none;
    color: rgba(var(--rainbow-color), 1);
    /*a标签占满父级元素*/
    width: 100%;
    height: 100%;
    display: block;
    /*显示a标签边框*/
    border: 1px solid rgba(var(--rainbow-color), 0.4);
    border-radius: 8px;
    padding: 2px 0;
    margin: 0 0 2px 0;
}

/*首页导航，添加边框和标题*/
.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] .components--MarkdownComponentContent::before {
    display: flex;
    content: "首页导航";
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    letter-spacing: 2px;
}

.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] > .components--ComponentEl {
    /*color: rgba(var(--rainbow-color), 1);*/
    /*border: 1px solid rgba(var(--rainbow-color), 1);*/
    /*border-radius: 16px;*/
}

.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] .components--MarkdownComponentContent > ul > li:hover,
.home-single-component .components--Component[data-component-id="555c80d8-075f-4ac6-9d2b-549b3607b46e"] .components--MarkdownComponentContent > ul ul li:hover a {
    border: 1px solid rgba(var(--rainbow-color), 0.7);
    font-weight: bolder;
}

/*---------------------------------------------------------------
* 其他
*---------------------------------------------------------------*/
